{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css1/csvfile.css' %}">
<section>
	<form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
		<div class="container-div-main">
			<div class="container">
				<div class="card">
					<h3>Daily Report</h3>
					<div class="drop_box">

						<p>Files Supported: Csvfiles Only</p>

						{% csrf_token %}

						<div align="center">
							<div class='file-input'>
								<input type="file" class="" id="customFile1" name="report" required accept=".csv"
									size="60">

								<span class='button'>Choose</span>
								<span class="label" id="data-js-label1"></label>
							</div>

						</div>
						<script>
							// Get the file input element
							var fileInput = document.getElementById("customFile1");
							var labelname = document.getElementById("data-js-label1");

							// Listen for the change event
							fileInput.addEventListener("change", function () {
								// Check if files are selected
								if (fileInput.files.length > 0) {
									// Get the first selected file
									var file = fileInput.files[0];

									// Get the filename
									var fileName = file.name;

									// Display the filename or do something with it
									console.log("Selected filename: " + fileName);
									labelname.innerHTML = fileName;
								} else {
									console.log("No file selected.");
								}
							});
						</script>

						<!-- <input type="file" hidden accept=".doc,.docx,.pdf,.csv" id="fileID" style="display:none;">
        <button class="btn1">Choose File</button> -->
					</div>

				</div>
			</div>

		</div>






		<div class="container">
			<div class="card">
				<h3>Activity Report</h3>
				<div class="drop_box">

					<p>Files Supported: Csvfiles Only</p>

					{% csrf_token %}

					<div align="center">
						<div class='file-input'>
							<input type="file" class="" id="customFile3" name="activity" required accept=".csv"
								size="60">

							<span class='button'>Choose</span>
							<span class="label" id="data-js-label3"></label>
						</div>

					</div>
					<script>
						// Get the file input element
						var fileInput1 = document.getElementById("customFile3");
						var labelname1 = document.getElementById("data-js-label3");

						// Listen for the change event
						fileInput1.addEventListener("change", function () {
							// Check if files are selected
							if (fileInput1.files.length > 0) {
								// Get the first selected file
								var file = fileInput1.files[0];

								// Get the filename
								var fileName1 = file.name;

								// Display the filename or do something with it
								console.log("Selected filename: " + fileName1);
								labelname1.innerHTML = fileName1;
							} else {
								console.log("No file selected.");
							}
						});
					</script>

					<!-- <input type="file" hidden accept=".doc,.docx,.pdf,.csv" id="fileID" style="display:none;">
          <button class="btn1">Choose File</button> -->
				</div>

			</div>
		</div>
		<div class="submit-btn">
			<input type="submit" class="btn1" value="Submit">
		</div>
	</form>
</section>

{% endblock %}