@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.intro {
    height: 100%;
    font-family: 'Poppins' ,sans-serif ;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: none !important;
  }
  
  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card {
    border-radius: .5rem;
  }
  
  .table-scroll {
    border-radius: .5rem;
  }
  
  .table-scroll table thead th {
    font-size: 1.25rem;
    font-family: 'Poppins' ,sans-serif ;
  }
  thead tr  {
    top: 0;
    border-top: 0px !important;
    position: sticky;
  }
  .intro{   
    margin: 120px;

  }
.col-12{
  padding: 0px !important;
}